body {
    font-family: 'Raleway', sans-serif;
    font-size: 15;
    color: #031840;

}

button {
    border-radius: 10px;
    width: 130px;
    height: 40px;
    color: #031840;
    font-family: Raleway;
    font-size: 15px;
    
}

p a {
    text-decoration: none;
}